
#body-main{
    margin-left: 30rem;
}

#intro{
    display: flex;
    justify-content: center;
    /* border: 2px black solid; */
    /* white-space: pre; */
}


#h1-main{
    margin-top: 50px;
    margin-bottom: 35px;
    display: block;
    text-align: left;
    /* border: 2px solid red; */
}

.intro-passage{
    cursor: pointer;
    color: #585452;
    padding-bottom: 20px;
}

.intro-passage:visited{
    transition: 1s;
    transform: scale(2);
    color: #585452;
}

.intro-passage:hover{
    /* font-size: 1.5rem; */
    font-weight: 600;
    color: black;
    text-decoration: none;
    /* margin-top: 20px; */
    /* border: 2px solid red; */
}



#img-main{
    width: 15rem;
}

.flex-container-horizontal{
    display: flex;
    flex-direction: row;

/* border: 2px solid red; */
}

.flex-container-horizontal >div {

    margin-right: 10px;
    /* border: 2px solid red; */
}

.flex-container-vertical{
    display: flex;
    flex-direction: column;

}

#hide-on-pc{
    display:none;
}


@media screen and (max-width: 767px) {
    #body-main{
        margin-left: 5rem;
    }

    #img-main{
        width: 15rem;
    }

    #hide-on-mobile{
        display:none;
    }

    #hide-on-pc{
        display:block;
    }

    .flex-container-horizontal{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        /* border: 2px solid red; */
    }


}
