body{
    margin-left: 30rem;
}

#intro{
    display: flex;
    justify-content: center;
    /* border: 2px black solid; */
    /* white-space: pre; */
}


h1{
    margin-top: 50px;
    margin-bottom: 35px;
    display: block;
    text-align: left;
 /* border: 2px solid red; */
}

.intro-passage{
    cursor: pointer;
    color: #585452;
    padding-bottom: 20px;
}

.intro-passage:visited{
    transition: 1s;
    transform: scale(2);
    color: #585452;
}

.intro-passage:hover{
    /* font-size: 1.5rem; */
    font-weight: 600;
    color: black;
    text-decoration: none;
    /* margin-top: 20px; */
    /* border: 2px solid red; */
}



img{
    width: 10em;
}

.flex-container-horizontal{
    display: flex;
    flex-direction: row;

    /* border: 2px solid red; */
}

.flex-container-horizontal >div {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    /* border: 2px solid red; */
}

.flex-container-vertical{
    display: flex;
    flex-direction: column;

}

@media (max-width: 800px) {
    body{
        margin-left: 3rem;
    }


  .flex-container-vertical {
    flex-direction: column;
  }
}
