

.project-passage,.project-passage:visited{
    display: flex;
    cursor: pointer;
    color: #585452;
    font-size: 2.8rem;
    text-decoration: none;
    /* padding: 3px,3px,3px,3px; */


}



.project-passage:hover {
    /* font-size: 1.5rem; */
    font-weight: 500;
    color: #49868C ;
    text-decoration: none;
    /* background-color: #1d3557; */
    /* padding: 10px,10px,10px,10px; */
    /* margin-top: 20px; */
    /* border: 2px solid red; */
}

.tooltiptext{
  visibility: hidden;
  background: #D9B29C;
  color: white;
  background-size: cover;

}

.tooltip:hover .tooltiptext {
  visibility: visible;

}

.tooltip{
    padding-bottom: 30px;
    /* border: 1px solid red; */
}




body{
    margin-left: 30rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

#intro{
    display: flex;
    justify-content: center;
    /* border: 2px black solid; */
    /* white-space: pre; */
}


h1{
    margin-top: 50px;
    margin-bottom: 35px;
    display: block;
    text-align: left;
 /* border: 2px solid red; */
}



.flex-container-horizontal{
    display: flex;
    flex-direction: row;

    /* border: 2px solid red; */
}

.flex-container-horizontal >div {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    /* border: 2px solid red; */
}

.flex-container-vertical{
    display: flex;
    flex-direction: column;

}

@media (max-width: 760px) {
    body{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 5rem;
    }


  .flex-container-vertical {
    flex-direction: column;
  }
}
